@font-face {
    font-family: Rockwell;
    src: url(assets/font/ROCK.TTF);
  }
@font-face {
    font-family: Rockwell;
    font-weight: bold;
    src: url(assets/font/Rockwell-Bold.ttf);
}


body 
{

    background-color:#060a07;

}
  
p {
    color: antiquewhite;
    padding-left: 8%;
    font-family: Rockwell;
}

h1 
{
    
    color:antiquewhite;
    text-align: center;
    font-family: Rockwell;

}

h2 {
    color: antiquewhite;
    text-align: center;
    font-family: Rockwell;
    font-size: 200%;
}



a 
{

    color: antiquewhite;
    font-family: Rockwell;

}
a:hover 
{

    cursor: pointer;

}

.divider {
    padding-top: 0.15%;
    padding-bottom: 0.25%;
    margin-left: 8%;
    width:10%;
    background-color: rgb(197, 186, 83);
    border-radius: 10px;
}


.title 
{

    text-decoration-line: underline;
    font-size: 250%;

}

.active 
{

    color: #2e942e;

}


.navelement 
{
    position: relative;
    border-left: 2px solid salmon;
    padding-left: 11.5%;
    padding-right: 10%;

}

.navbar 
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 1px solid salmon;

}





#intro {
    border-left: none;
}